<!DOCTYPE html>
<html ng-app="ProxyOh">

<head>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="content/style.css">
    <link rel="stylesheet" type="text/css" href="content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="content/ui-bootstrap-csp.css">
</head>

<body ng-controller="MainController as mc" ng-cloak>



    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Proxy-Oh</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">

            <div class="page-header" id="banner" style="margin-top:80px;">

                <div class="col-md-12">
                    <h1>Search for a card...</h1>
                    <input type="text" ng-model="mc.value"
                        uib-typeahead="card.name for card in mc.cards | filter:$viewValue | limitTo:8"
                        class="form-control" typeahead-on-select="mc.addCardToQueue($item, $model, $label)" >

                </div>

            </div>
        </div>

        <hr>
        <div class="row">
            <div class="container">

                <div class="col-md-12">
                    <div ng-repeat="card in mc.queue">
                        <div class="col-md-6">
                            <div class="topright"><button type="button" class="btn btn-danger btn-sm" ng-click="mc.removeCard(card)">x</button></div>
                            <h4>Name: {{card.name}}</h4>
                            
                            <div class="input-group">
                                <span class="input-group-addon">Count</span>
                                <input type="text" class="form-control" ng-model="card.quantity"
                                    ng-init="card.quantity = 1" />

                            </div>

                            <div style="border: 1px solid black; width: 300px; height: 400px; " ></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>






</body>




</html>

<script src="scripts/angular.js"></script>
<script src="scripts/angular-ui/ui-bootstrap.js"></script>
<script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/ng-app/ng-app.js"></script>
<script src="scripts/controllers/main.controller.js"></script>