<!DOCTYPE html>
<html ng-app="ProxyOh">

<head>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="content/style.css">
    <link rel="stylesheet" type="text/css" href="content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="content/ui-bootstrap-csp.css">
</head>

<body ng-controller="MainController as mc" ng-cloak style="overflow-x:hidden">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Proxy-Oh</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" style="padding-left:100px; padding-right:100px;">

            <div class="page-header" id="banner" style="margin-top:80px;">

                <div class="col-md-12">
                    <h1>Search for a card...</h1>

                    <input type="text" ng-model="mc.value"
                        uib-typeahead="card.name for card in mc.cards | filter:{'name': $viewValue} | limitTo:8"
                        class="form-control" typeahead-on-select="mc.addCardToQueue($item, $model, $label)" />

                    <div class="pull-right">
                        <button class="btn btn-info" ng-click="mc.tableView = !mc.tableView">Toggle List View</button>
                        <button class="btn btn-success" ng-click="mc.createPDF()">Export To Pdf</button>
                        <!-- <button ng-click="mc.writeFirebaseExample()">Firebase Post</button>
                        <button ng-click="mc.readFirebaseExample()">Firebase Get</button> -->
                    </div>
                    <br /> <br /> <br />
                </div>

            </div>

            <hr>
            <div class="col-md-2 col-xs-2 card-container" ng-repeat="card in mc.queue" ng-if="!mc.tableView">
                <div class="">
                    <button type="button" class="x-button" tabindex="-1" ng-click="mc.removeCard(card)">&#10006</button>
                </div>

                <div class="card-img-container">
                    <img ng-src="{{card.card_images[0].image_url}}">
                </div>

                <div class="quantity buttons_added">
                    <input type="button" tabindex="-1" value="&#8212" class="minus" ng-click="mc.reduceQuantity(card)">
                    <input type="number" step="1" min="1" max="3" name="quantity" title="Qty"
                        class="input-text qty text" size="4" pattern="" inputmode="" ng-model="card.quantity">
                    <input type="button" value="&#65291" class="plus" tabindex="-1"
                        ng-click="mc.increaseQuantity(card)">
                </div>
            </div>
            <div class="col-md-12" ng-if="mc.tableView">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:3%"></th>
                            <th style="width:70%">Card Name</th>
                            <th style="width:20%">Quantity</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="card in mc.queue">
                        <tr>
                            <td>
                                <div class="card-img-container">
                                    <img ng-src="{{card.card_images[0].image_url}}">
                                </div>
                            </td>
                            <td>{{card.name}}</td>
                            <td>
                                <div class="quantity buttons_added" style="margin-bottom: 0px;">
                                    <input type="button" tabindex="-1" value="&#8212" class="minus"
                                        ng-click="mc.reduceQuantity(card)">
                                    <input type="number" step="1" min="1" max="3" name="quantity" title="Qty"
                                        class="input-text qty text" size="4" pattern="" inputmode=""
                                        ng-model="card.quantity">
                                    <input type="button" value="&#65291" class="plus" tabindex="-1"
                                        ng-click="mc.increaseQuantity(card)">
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-warning" ng-click="mc.removeCard(card)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="">Export To Pdf</button>
                </div>
            </div> -->
            <div class="clearfix"></div>
            <br /> <br /><br />
        </div>
    </div>

</body>



</html>

<!-- Firebase -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCov_To39VHCrWHgfwvj9JYdYlP879E4Ck",
    authDomain: "proxy-oh.firebaseapp.com",
    databaseURL: "https://proxy-oh.firebaseio.com",
    projectId: "proxy-oh",
    storageBucket: "",
    messagingSenderId: "799022905848",
    appId: "1:799022905848:web:12562d2b4867fe5f"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<script src="scripts/jquery-3.2.1.js"></script>

<script src="scripts/angular.js"></script>
<script src="node_modules/angular-masonry/angular-masonry.js"></script>
<script src="scripts/angular-ui/ui-bootstrap.js"></script>
<script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/ng-app/ng-app.js"></script>
<script src="scripts/controllers/main.controller.js"></script>
<script src="scripts/services/card-services.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="node_modules/jquery-bridget/jquery-bridget.js"></script>
<script src="node_modules/ev-emitter/ev-emitter.js"></script>
<script src="node_modules/desandro-matches-selector/matches-selector.js"></script>
<script src="node_modules/fizzy-ui-utils/utils.js"></script>
<script src="node_modules/get-size/get-size.js"></script>
<script src="node_modules/outlayer/item.js"></script>
<script src="node_modules/outlayer/outlayer.js"></script>
<script src="node_modules/imagesloaded/imagesloaded.js"></script>
<script src="node_modules/masonry-layout/masonry.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>