#banner {
    min-height: 300px;
    border-bottom: none;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }


.card-img-container {
    width: 100%;
 }
 
 .card-img-container img {
    width: 100%;
    object-fit: contain;
 }


 


 