<h1>Other Trading Card Games
    <div class="pull-right">
        <button class="btn btn-info btn-sm" ng-click="tcgc.saveTestPage()">Save Test Page</button>
        <button class="btn btn-danger btn-sm" ng-click="tcgc.deleteAll()" ng-disabled="tcgc.queue.length == 0">Remove
            All Cards</button>
        <button class="btn btn-success btn-sm" ng-click="tcgc.createPDF(tcgc.selectedCardSize)"
            ng-disabled="tcgc.queue.length == 0">Export
            <span class="badge">{{tcgc.getCounts()}}</span>
            Cards To Pdf</button>
    </div>
</h1>
<div class="overlay" ng-if="tcgc.loading">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <br>
        <h2>Paste Image Url</h2>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <span>Card Sizes in Inches</span>
            <select class="form-control" ng-options="size.name for size in tcgc.cardSizes"
                ng-init="tcgc.selectedCardSize = tcgc.cardSizes[0]" ng-model="tcgc.selectedCardSize">
            </select>
            <!-- <div ng-if="tcgc.selectedCardSize.name == 'Custom'">
                <input class="form-control" type="text" ng-model="tcgc.width"><input class="form-control" type="text"
                    ng-model="tcgc.height">
            </div> -->
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" ng-model="tcgc.imageLink" class="form-control"
                placeholder="Press enter when done or click add card"
                ng-keyup="$event.keyCode == 13 ? tcgc.addImageLink() : null">
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="tcgc.addImageLink(tcgc.imageLink)">Add Card</button>
            </span>
        </div>
    </div>
</div>

<br><br>

<div class="col-md-2 col-sm-6 card-container" ng-repeat="card in tcgc.queue" ng-show="!tcgc.tableView">
    <div class="">
        <button type="button" class="x-button" tabindex="-1" ng-click="tcgc.removeCard(card)">&#10006</button>
    </div>

    <div class="card-img-container">
        <a ng-href="{{card.imageUrl}}" data-lightbox="{{card.name}}card">
            <img ng-src="{{card.imageUrl}}" />
        </a>
    </div>

    <div class="input-group" style="margin-top: 5px;">
        <span class="input-group-btn">
            <button type="button" class="btn btn-number" data-type="minus" ng-click="tcgc.reduceQuantity(card)">
                <span>&#8212</span>
            </button>
        </span>
        <input type="number" style="text-align:center;" class="form-control input-number" min="1" max="999"
            ng-model="card.quantity">
        <span class="input-group-btn">
            <button type="button" class="btn btn-number" data-type="plus" ng-click="tcgc.increaseQuantity(card)">
                <span>&#65291</span>
            </button>
        </span>
    </div>
    <br /> <br />
</div>
<div class="col-md-12 col-sm-12" ng-show="tcgc.tableView && tcgc.queue.length > 0">
    <table class="table table-bordered">
        <thead style="background:lightgray">
            <tr>
                <th style="width:5%"></th>
                <th style="width:70%">Card Name</th>
                <th style="width:20%">Quantity</th>
                <td></td>
            </tr>
        </thead>
        <tbody ng-repeat="card in tcgc.queue">
            <tr>
                <td>
                    <div class="card-img-container">
                        <a ng-href="{{card.imageUrl}}" data-lightbox="{{card.name}}table">
                            <img ng-src="{{card.imageUrl}}" />
                        </a>
                    </div>
                </td>
                <td><span style="font-size: 20px;">{{card.name}}</span></td>
                <td>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" data-type="minus"
                                ng-click="tcgc.reduceQuantity(card)">
                                <span>&#8212</span>
                            </button>
                        </span>
                        <input type="number" style="text-align:center;" class="form-control input-number" min="1"
                            max="999" ng-model="card.quantity">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-number" data-type="plus"
                                ng-click="tcgc.increaseQuantity(card)">
                                <span>&#65291</span>
                            </button>
                        </span>
                    </div>
                </td>
                <td>
                    <button class="trash-btn btn" ng-click="tcgc.removeCard(card)"><i
                            class="fa fa-2x fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<br /> <br /><br />